<!DOCTYPE html>
<html>
<head>
    <title>Pentesting Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body style="background: url("{% static 'images/dark_theme_background.jpeg' %}") no-repeat center center fixed; background-size: cover;


    <header>
        <img src="{% static 'images/hacker_logo.png' %}" alt="Hacker Logo" style="width: 100px; display: block; margin: 20px auto;">
    </header>
    <h1>Welcome to  Pento Dashboard</h1>
    <p>Select a tool to get started:</p>
    <ul style="text-align: center;">
        <li>
            <a href="/nmap/">
                <img src="{% static 'images/nmap.png' %}" alt="Nmap" style="width: 50px; vertical-align: middle;">
                Nmap
            </a>
        </li>
        <li>
            <a href="/whois/">
                <img src="{% static 'images/whois.png' %}" alt="Whois" style="width: 50px; vertical-align: middle;">
                Whois
            </a>
        </li>
        <li>
            <a href="/sublist3r/">
                <img src="{% static 'images/sublist3r.png' %}" alt="Sublist3r" style="width: 50px; vertical-align: middle;">
                Sublist3r
            </a>
        </li>
        <li>
            <a href="/amass/">
                <img src="{% static 'images/amass.png' %}" alt="Amass" style="width: 50px; vertical-align: middle;">
                Amass
            </a>
        </li>
        <li>
            <a href="/zap/">
                <img src="{% static 'images/zap.png' %}" alt="OWASP ZAP" style="width: 50px; vertical-align: middle;">
                OWASP ZAP
            </a>
        </li>
    </ul>
    <ul style="text-align: center;">
        <!-- Existing tools -->
        <li>
            <a href="/tools/identify-ip-os/">
                <img src="{% static 'images/os_identify.png' %}" alt="IP and OS Identification" style="width: 50px; vertical-align: middle;">
                IP and OS Identification
            </a>
        </li>
    </ul>
    

    <script src="/static/js/script.js"></script>
</body>
</html>
