<!DOCTYPE html>
<html>
<head>
    <title>Amass Scan</title>
    {% load static %}
</head>
<body>
    <header>
        <img src="{% static 'images/amass.png' %}" alt="Amass Logo" style="width: 80px; display: block; margin: 10px auto;">
    </header>
    <h2>Amass Scan</h2>
    <form method="POST" action="{% url 'amass_scan' %}">
        {% csrf_token %}
        <label for="domain">Enter Domain:</label>
        <input type="text" id="domain" name="domain">
        <button type="submit">Run Amass Scan</button>
    </form>
    <div class="terminal">
        <h3>Amass Terminal</h3>
        <div id="terminal-output"></div>
    </div>
    <script>
        const terminal = document.getElementById('terminal-output');
        const eventSource = new EventSource("{% url 'amass_scan' %}");
        eventSource.onmessage = function(event) {
            const data = JSON.parse(event.data);
            terminal.innerHTML += `<p>${data.message}</p>`;
            terminal.scrollTop = terminal.scrollHeight;
        };
    </script>
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>
